$feature-flags: (
  ui-shell: true,
  grid-columns-16: true,
);

@import "carbon-addons-iot-react/lib/scss/styles.scss";


main {
  display: block;
}

/* @media (min-width: 42rem) {
  .bx--grid--no-gutter {
    padding-left: 1rem;
    padding-right: 1rem;
  }
} */

.bx--content {
  padding: 0;
}
.bx--btn {
  padding: calc(0.875rem - 3px) 12px calc(0.875rem - 3px) 12px;
}